@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    @apply  bg-gray-900;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'burtons';
  src: url('../public/Burtons.otf');
}

@layer base {
  ol {
    list-style-type: decimal; /* Ensures that ordered lists use numbers */
  }
}

@layer base {
  ul {
    /* Custom styles for unordered lists */
    padding-left: 20px;
    list-style-type: disc;
    color: white;
  }

  li {
    /* Custom styles for list items */
    margin-bottom: 0.5rem;
    color: white;
    list-style-type: decimal;
  }
  
  @layer base {
    pre {
      @apply bg-gray-800 text-white p-4;
    }
  
    code {
      @apply bg-gray-700; /* Slightly different background for inline code */
    }
  }
  
  
  /* Add more customizations for other markdown elements if needed */
}