@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    @apply  bg-gray-900;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'burtons';
  src: url('../public/Burtons.otf');
}

@layer base {
  /* Styles for ordered lists */
  ol {
    padding-left: 20px;
    list-style-type: decimal; /* Numbers for ordered lists */
  }

  /* Styles for unordered lists */
  ul {
    padding-left: 20px;
    list-style-type: disc;
    @apply bg-gray-800;
    border-radius: 10px;;
    padding: 10px; /* Bullets for unordered lists */
   }

  ul li a {
    @apply underline; /* Underline only for anchors within list items */
  }
  /* Common styles for all list items */
  li {
    margin-bottom: 0.5rem;
    @apply text-teal-400;
  }
}
  
  @layer base {
    pre {
      @apply bg-gray-800 text-white p-4;
    }
  
    code {
      @apply bg-gray-700; /* Slightly different background for inline code */
      word-wrap: break-word;
      white-space: pre-wrap;
    }
  }
  
  
  /* Add more customizations for other markdown elements if needed */
